<div class="sidebar-nav-item">
    <a href="2024-5.5e-server/about-the-2024-server.html" class="sidebar-nav-link">About the Server</a>
</div>
<div class="sidebar-nav-item">
    <a href="2024-5.5e-server/character-creation-steps.html" class="sidebar-nav-link">Character Creation</a>
</div>
<div class="sidebar-nav-item">
    <a href="2024-5.5e-server/creation-log-maker.html" class="sidebar-nav-link">Creation Log Maker</a>
</div>

<div class="sidebar-section-title">Server Systems</div>

<div class="sidebar-nav-item">
    <a href="2024-5.5e-server/2024-server-systems/crafting.html" class="sidebar-nav-link">Crafting</a>
</div>

<div class="sidebar-section-title">Events</div>

<div class="sidebar-nav-item">
    <a href="2024-5.5e-server/events/soon.html" class="sidebar-nav-link">Soon...</a>
</div>